$box-edge: 128px;

.main {
  padding: 8px;

  .row {
    display: flex;
    flex-direction: row;

    >* {
      margin: 0 0 0 0;
    }
  }

  .rectangle {
    width: $box-edge;
    height: $box-edge;

    &.blue {
      background-color: rgb(0, 0, 255);
    }

    &.red {
      background-color: rgb(255, 0, 0);
    }

    &.black {
      background-color: rgb(0, 0, 0);
    }
  }
}