$box-edge: 128px;
.rectangle {
  display: flex-block;
  min-width: $box-edge;
  min-height: $box-edge;

  &.blue {
    background-color: rgb(0, 0, 255);
  }

  &.red {
    background-color: rgb(255, 0, 0);
  }

  &.black {
    background-color: rgb(0, 0, 0);
  }
}
